/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales(shadow-box,border-radius, etc.)
5. Otros
*/
:root{
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --gray: #BABABA;
  --black: #282623;
  --off-white: #FAF8F7;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
footer{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
footer .left ul{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
footer .left ul li{
  margin: 10px 0;
}
footer .left ul li a{
  text-decoration: none;
  color: white;
}
footer .right img {
    width: 55%;
}
